

body {
    min-height: 100vh;
    margin: 0px;
}

.Parent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Child {
    flex-grow: 1;
}

.Footer {
    background-color: #1F2937;
}

/* Header */

/* Navbar */

.Navbar {
    display: flex;
}

ul {
    display: flex;
    gap: 16px;
    margin-left: auto;
}

li {
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
}

.logo {
    color: #F9faf8;
    font-size: 24px;
}

/* Header Info */

.Header {
    background-color: #1F2937;
    padding-left: 20%;
    padding-right: 20%;
    flex-grow: 2;
    padding-bottom: 5%;
    
}

.Header_Info {
    display: flex;
    gap: 64px;
    padding-top: 5%;
    flex-grow: 3;
   
}

.MoreInfo {
    flex: 1 0 auto;
    width: 10px;
}

.placeholder {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    background-color: gray;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #F9faf8;
}

.secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.MoreInfo button {
    background-color: #3882f6;
    color: #F9faf8; 
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 25px;
}

.placetext {
    color: #F9faf8;
}

/* Random */

.Random {
    background-color: #F9faf8;
    padding-bottom: 5%;
}


.title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}

.pics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.apic {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 317px;
height: 256px;
}

.ablock {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: #3882f6;
    border-style: solid;
}

.pictext {
    text-align: center;
}

/* Quote */

.Quote {
    background-color: #e5e7eb;
    gap: 2px;
    padding: 10%;
}

.thequote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 0;
}

.author {
    text-align: right;
    font-weight: bold;
}

/* Action */

.Action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 86px;
    background-color: #3882f6;
    width: 600px;
    flex-grow: 1;
    border-radius: 5px;
}

 .Child.act {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
}

.atext {
color: #F9faf8;
font-size: 18px;
font-weight: bold;
}

.asign {
color: #e5e7eb;
font-size: 18px;
}

.singZup {
    background-color: #3882f6;
    color: #F9faf8; 
    border-radius: 5px;
    border: 2px solid white;
    width: 100px;
    height: 25px;
}

.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer p {
    color: #e5e7eb;
}